PyInstaller
pynput
keyboard
comtypes
requests
pycaw
opencv-python
numpy
Pillow
pylint
websocket_server
websocket_client
aliyun-python-sdk-alidns
pymysql
moviepy
pymediainfo
cryptography
wheel
twine
pacc
